
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static './node_modules/bootstrap/dist/css/bootstrap.min.css'%}">    
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>{% block title %}Blog Coach{% endblock title %}</title>
</head>

<body>
    <header>
        <!-- -========================================nav section===================-====================- -->

        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="#">Blog.<span>Coach</span> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="{%url 'article_list' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link " href="#"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Contact</a>
                        </li>
                    {% if user.is_authenticated%}
                        <li class ="nav-item">
                            <a href="{% url 'article_new' %}" class="nav-link "> &plus; New</a>
                        </li>
                    </ul>
                        <div class="dropdown ">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{% url 'password_change'%}"> Change password</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout'%}">Log Out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <form class="d-flex ">
                            <button class="btn0 "> <a class="text-decoration-none text-light"href="{% url 'signup' %}">SignUp </a></button>
                            <button class="btn1 mx-2"> <a class="text-decoration-none text-light" href="{% url 'login' %}">Log In</a></button>
                        </form>
                    
                    {% endif %}
                    
                     
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content%}
        {%endblock content%}
    </main>
    



    <script src="{% static './node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>